.filter-section input[type="text"],
.filter-section input[type="number"],
.filter-section select {
	margin: auto 0px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.filter-section button {
	margin: auto 0px;
    padding: 5px 10px;
    background-color: #ff6851;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}