
        .main{
            margin-top: 100px;
          
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        .delete-btn {
            background-color: #b54dff;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 10px;
        }
        .delete-btn:hover {
            background-color: #ae00cd;
        }
        .quantity-controls {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .quantity-controls button {
            width: 30px;
            height: 30px;
            color: #f2f2f2;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            background-color: #b54dff;
        }
        .restaurant-name {
            font-weight: bold;
            font-size: 18px;
            margin-top: 20px;
        }
        .total-price-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            border-top: 1px solid #ddd;
        }
        .checkout-btn {
            background-color: #b54dff;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 10px;
        }
        .checkout-btn:hover {
            background-color: #ae00cd;
        }

        .input{
            border-radius: 20px;
          
        }
        .pay-button {
            background-color: #b54dff;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 10px;    
        }