.quan-ly-err table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .quan-ly-err th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  .quan-ly-err th {
    background-color: #f2f2f2;
  }